#filemanager {
	position: relative;
	padding-top:1px;
	font-size:9px;
}
#vakata-contextmenu{
	font-size: 9px;
}
/*
 *	PASTAS
 */
 
#folder-tree {
	width:100%;
}
#gtbox-file-view {
	position:absolute;
	z-index:5;
	width:250px;
}
#gtbox-file-options {
	position:absolute;
	z-index:5;
	width:500px;
	left:300px;
}
#tabs {
	margin-top:30px;
	height:100%;
}

/**
 * JQUERY TOOLS SETTINGS
 */
    .simple_overlay {
	/* must be initially hidden */
	display:none;
	/* place overlay on top of other elements */
	z-index:10000;
	/* styling */
	background-color:#333;
	border:1px solid #666;
	/* CSS3 styling for latest browsers */
	-moz-box-shadow:0 0 90px 5px #000;
	-webkit-box-shadow: 0 0 90px #000;	
}

/* close button positioned on upper right corner */
.simple_overlay .close {
	background-image:url(overlay/apple-close.png);
	position:absolute;
	right:-15px;
	top:-15px;
	cursor:pointer;
	height:28px;
	width:28px;
}
/** 
 * UI SETTINGS
 */
.ui-gtgrid-bdiv {
	overflow: auto;
}
.ui-gtgrid {
	font-size:11px;
	position:relative;
}
.ui-gtgrid .ui-gtgrid-view {
	left:0;
	padding:0;
	position:relative;
	top:0;
}
.ui-gtgrid .ui-gtgrid-bdiv {
	margin:0;
	overflow:auto;
	padding:0;
	position:relative;
}
.ui-gtgrid .ui-gtgrid-titlebar {
	border-left:0 none;
	border-right:0 none;
	border-top:0 none;
	padding:0.3em 0.2em 0.2em 0.3em;
	position:relative;
}
.ui-gtgrid .ui-gtgrid-titlebar-close {
	height:18px;
	margin:-10px 0 0;
	padding:1px;
	position:absolute;
	top:50%;
	width:19px;
}
.ui-gtgrid .ui-gtgrid-titlebar-close span {
	display:block;
	margin:1px;
}
.ui-gtgrid .ui-gtgrid-title {
	float:left;
	margin:0.1em 0 0.2em;
}


/* TABS */
#tabs li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }
